beautifulsoup4==4.9.3
bs4==0.0.1
cffi==1.14.5
click==7.1.2
cryptg==0.2.post2
Flask==1.1.2
Flask-Cors==3.0.10
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
python-dotenv==0.17.1
rsa==4.7.2
six==1.15.0
soupsieve==2.2
Telethon @ https://github.com/LonamiWebs/Telethon/archive/master.zip
Werkzeug==1.0.1
